<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="de1d4f02-2048-4366-9434-e9402e72d438" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="de1d4f02-2048-4366-9434-e9402e72d438fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
