<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="85b984f5-0646-4aa2-9cfe-c3636723cf56" name="Single Request Test Cases" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="85b984f5-0646-4aa2-9cfe-c3636723cf56fileName">Single-Request-Test-Cases</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
